@tailwind base;
@tailwind components;
@tailwind utilities;
/* font family  */
@font-face {
  font-family: 'en';
  src: url('./sheard/fonts/Alkatra-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'ar';
  src: url('./sheard/fonts/Alkatra-VariableFont_wght.ttf');
}

[dir='rtl'] .font_rtl {
  font-family: 'ar';
}

[dir='ltl'] .font_ltl {
  font-family: 'en';
}

body,
* {
  margin: 0;
  padding: 0;
  font-family: 'en', 'ar';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-container {
  position: relative;
  display: inline-block;
}

.link-container:hover .line {
  width: 100%;
  transform: rotateZ(
    -10deg
  ); /* Change rotate to rotateZ for rotation around the Z-axis */
}

.line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transform: rotateZ(
    0deg
  ); /* Change rotate to rotateZ for initial rotation around the Z-axis */
  @apply bg-yellow-400; /* Change this to the color you want for the line */
  transition: width 0.3s ease; /* Adjust transition properties as needed */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#sliderContainer {
  overflow-x: auto;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#sliderContainer:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* range slider  */

.range-slider {
  width: auto;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: auto;
  background: none;
  outline: none;
  border-radius: 50px;
}

/* Target the first input[type="range"]::-webkit-slider-thumb */
input[type="range"]:first-of-type::-webkit-slider-thumb {
  background: #3347fa; /* Change background color for the first thumb */
}
/* Target the second input[type="range"]::-webkit-slider-thumb */
input[type="range"]:last-of-type::-webkit-slider-thumb {
  background: white; /* Change background color for the second thumb */
  border: 1px solid #6666ff;
}
/* General styling for all input[type="range"]::-webkit-slider-thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #2024f1;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #2024f1;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

select {
  font-size: 14px;
  border-radius: 5px;
}

/* bus seats  */

.seat {
  background: url("../public/images/Car\ -\ Free\ security\ icons-1.png")
    no-repeat;
  height: 40px;
  width: 40px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.selected {
  background: url("../public/images/Car\ -\ Free\ security\ icons-2.png")
    no-repeat;
}

.occupied {
  background: url("../public/images/Car\ -\ Free\ security\ icons-3.png")
    no-repeat;
}
.seat:nth-of-type(2) {
}

.seat:nth-last-of-type(2) {
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase li small {
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ticket in landing page */
.Clip {
  clip-path: inset(0 0 2% 0 round 5% 20% 0 10%);
}

.Clip2 {
  clip-path: inset(0 0 2% 0 round 5% 20% 0 10%);
  transform: rotateZ(3deg);
  @apply bg-gray-100;
}

.Clip3 {
  clip-path: inset(0 0 20% 0 round 10% 10% 5% 5%);
  transform: rotateZ(1deg);
  @apply bg-gray-200;
  @apply bg-opacity-10;
  @apply max-md:pb-40;
}

/* 3d background  */

.background {
  background: linear-gradient(45deg, #515f85, #ffffff);
  transform-origin: 0 0; /* Set the transform origin */
  transform: translateZ(-900px) scale(1); /* Apply the 3D effect */
}

/* footer icons  */

.icons * {
  @apply text-gray-100;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.icons *:hover {
  @apply text-yellow-400;
}

/* 
header video container 
*/
.video {
  clip-path: inset(0 0 0 0 round 30% 30% 10% 10%);
  background-attachment: fixed;
}
/* bus header  */

.BusHeader{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 75%, 50% 100%, 39% 75%, 0% 75%);
}